/* base styles> */
body {
    background: #f5eee0 url(bg.png);
    color: #6f6f6f;
    font-family: "space-grotesk-variable",sans-serif;
    font-variation-settings: 'wght' 300;
    font-size: 1rem;
    margin: 0;  
}
h1, h2, h3, h4 {
    font-family: "space-grotesk-variable",sans-serif;
    font-variation-settings: 'wght' 700;
}
h3, h4, a, strong {
    color: #8c4cf7;
}
h1 {
    font-size: 2rem;
    margin: 0;
}
h2 {
    color: #212a2d;
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    line-height: 1.5;
    margin: 8px 0;
}